
.welcome{
  height:645px;
  width:90%;
  text-align:center;
  background-image: url(../../../Images/capgemini.png);
  margin-top:100px;
}



h1{
  font-family:Georgia, Playfair Display, Arial, sans-serif, Helvetica;
  font-size:35px;
  font-weight:bold;
  color:#17ABDA;
  margin-bottom:115px;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 4s steps(30, end), blink-caret 0.75s step-end infinite;
}
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}
@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #17ABDA; }
}
