.welcome{
  height:645px;
  width:100px%;
  background-image: url(../../../Images/capgemini.png);
  text-align:center;
  margin-top:100px;
}



h1{
  font-family:Georgia, Playfair Display, Arial, sans-serif, Helvetica;
  font-size:35px;
  font-weight:bold;
  color:#8c0671;
  margin-bottom:115px;
}
