.reservation-title h1{
  font-family:Georgia;
  font-size:50px;
  color:#046878;

}

.update-reservation-container{
  display:flex;
  flex-direction:column;
  justify-content:center;
  margin-top:55px;

}

.reservation-formular, .reservation-button, .reservation-title{
  display:flex;
  justify-content:center;

}

.reservation-button button{
  width:200px;
  margin-top:50px;
  margin-top:5px;
}
