
.responsive-form {
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  margin-top : 50px;
  margin-left: 330px;
  max-width: 500px;
  width: 100%;
  border-radius: 4px;
  border: 2px solid #0070AD;
  background-color:  #f2f2f2;
  padding: 20px;
}
.responsive-form form {
  max-width: 400px;
  margin: auto;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}
.responsive-form p {
  font-size: 20px;
  text-align: center;
}
.btn{
  background-color: #0070AD;
  color: white !important ;
}
