<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Update Box</title>
</head>
<body>
<main>
  <div>
    <div class="box-title">
      <h1>Update an old Box</h1>
    </div>

    <div>
      <app-box-form></app-box-form>
    </div>

    <div class="box-button">
      <button (click)="updateBox()" class="box-mat-button" mat-raised-button color="primary">Update</button>
    </div>

  </div>
</main>
</body>
</html>
