<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Load Boxes</title>
</head>
<body>
  <main>
    <div>

      <div>
        <mat-card>
          <mat-card-header>
            <mat-card-title>List of all Boxes</mat-card-title>
            <mat-card-subtitle>Manage Boxes</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>

            <div class="nav-box">
              <mat-form-field>
                <mat-label>
                  Filter Boxes
                </mat-label>
                <input matInput type="text" placeholder="Filter">
              </mat-form-field>

              <button mat-raised-button color="primary">Add</button>
            </div>


            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z1">

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
              </ng-container>

              <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
                <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
              </ng-container>

              <ng-container matColumnDef="coordinates">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Localisation</th>
                <td mat-cell *matCellDef="let element"> {{ element.coordinates?( element.coordinates?.latitude + " , " + element.coordinates?.longitude) : "" }} </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-raised-button color="primary">Update</button>
                  <button mat-raised-button color="primary">Delete</button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="display"></tr>
              <tr mat-row *matRowDef="let row; columns: display;" ></tr>

            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]"
                           showFirstLastButtons>
            </mat-paginator>

          </mat-card-content>

          <mat-card-footer>
            Mamadou & Radia
          </mat-card-footer>

        </mat-card>
      </div>

    </div>
  </main>
</body>
</html>
