
.user-title h1{
  font-family:Georgia;
  font-size:50px;
  color:#043e78;
}



.user-button, .user-title{
  display:flex;
  justify-content:center;
  margin-top:25px;

}

.box-mat-button{
  width:200px;
  margin-top:20px;
}


