<div class="responsive-form">
  <p>Login form</p>
<form [formGroup]="formGroup" (ngSubmit)="login()" >
  <div >
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nom du login</mat-label>
      <input matInput type="text" formControlName="LoginName" [class.is-invalid]="formGroup.controls.LoginName.invalid"/>
    </mat-form-field>
    <small class="text-danger" *ngIf="formGroup.controls.LoginName.invalid">
      <ng-container *ngIf="formGroup.controls.LoginName.hasError('required')">
        the login is mandatory
      </ng-container>
      <ng-container *ngIf="formGroup.controls.LoginName.hasError('minlength')">
        the login is too long
      </ng-container>
    </small>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label> Password </mat-label>
      <input matInput type="password" formControlName="Password"/>
    </mat-form-field>
    <small class="text-danger" *ngIf="formGroup.controls.Password.invalid">
      <ng-container *ngIf="formGroup.controls.Password.hasError('required')">
        The password is mandatory
      </ng-container>
      <ng-container *ngIf="formGroup.controls.Password.hasError('minlength')">
        the password is too short
      </ng-container>
    </small>

  </div>
  <button mat-button="elevated" class="btn" type="submit"> Connexion</button>
  <mat-error *ngIf="wrongCredentials">  Wrong credential , please try again !</mat-error>
  <i> Don't have an account ? <a routerLink="/SignIn"> Sign in </a></i>
</form>
</div>
