body {
  overflow-x: hidden;
}
.spacer {
  flex:auto;
}
.drawer{
  min-height: 645px;
  margin-top:50px;
  padding:5px;
}

mat-toolbar{
  background-color:#0070AD;
}

.button:hover{
  background-color:white;
}

.login-button:hover{
  background-color:red;
}

.footer{
  background-color:#0070AD;
  text-align: center;
  color :white;
}
