.reservation-content{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.reservation-title h1{
  font-family:Georgia, Arial;
  font-size:50px;
  font-weight:bold;
  color:#046878;
}

.reservation-button button{
  width:200px;
  margin-top:50px;
  font-weight:bold;
}
