<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Reservation</title>
</head>
<body>
<main>
  <div>
    <div class="box-title">
      <h1>Create new Reservation</h1>
    </div>

    <div>
      <app-reservation-form></app-reservation-form>
    </div>

    <div class="box-button">
      <button (click)="createReservation()" class="box-mat-button" mat-raised-button color="primary">Create</button>
    </div>

  </div>
</main>
</body>
</html>
