.box-title h1{
  font-family:Georgia;
  font-size:50px;
  color:#046878;
}

.box-button, .box-title{
  display:flex;
  justify-content:center;
  margin-top:25px;
}

.box-mat-button{
  width:200px;
  margin-top:50px;
  font-weight:bold;
}
