<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Box</title>
</head>
<body>
  <main>
    <div>
      <div class="box-title">
        <h1>Create new Box</h1>
      </div>


      <div>
        <!--<form>
          <div class="boxes-fields">

            <mat-form-field color="warn" class="boxes-form">
              <mat-label>Box Name</mat-label>
              <input required matInput>
            </mat-form-field>

            <mat-form-field color="primary" class="boxes-form">
              <mat-label>Box Description</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>

            <mat-form-field color="warn" class="boxes-form">
              <mat-label>Quantity</mat-label>
              <input type="number" step="1" min="0" required matInput>
            </mat-form-field>
          </div>


          <div class="latitude-longitude">
            <mat-form-field color="accent" class="latitude">
              <mat-label>Latitude</mat-label>
              <input type="number" required matInput>
            </mat-form-field>

            <mat-form-field color="accent" class="longitude">
              <mat-label>Longitude</mat-label>
              <input type="number" required matInput>
            </mat-form-field>
          </div>

          <div class="box-button">
            <button class="box-mat-button" mat-raised-button color="primary">Create</button>
          </div>

        </form> -->

        <app-box-form></app-box-form>




      </div>

      <div class="box-button">
        <button (click)="createBox()" class="box-mat-button" mat-raised-button color="primary">Create</button>
      </div>




    </div>
  </main>
</body>
</html>
